{% extends "base.html" %}
{% block page_class %}dashboard-background{% endblock %}
{% block content %}
<div class="container mt-4">
    <!-- istatistik çubuğu // yeni uygulama-->
     <div class="text-end gap-2 mb-3">
    <a href="{{ url_for('export_csv') }}" class="btn btn-secondary">📁 CSV'yi dışa aktar</a>
    <a href="{{ url_for('export_pdf') }}" class="btn btn-dark">📄 PDF'yi dışa aktar</a>
    <a href="{{ url_for('statistics') }}" class="btn btn-outline-primary">📊 Ziyaretçi İstatistiklerini Görüntüle</a>
    </div>
    <!---->

</div>
    <div class="d-flex justify-content-between align-items-center bg-light shadow-sm rounded p-2 mb-3">
        <div class="d-flex gap-3">
            <div class="stat-box d-flex align-items-center">
                <div class="icon bg-primary text-white rounded-circle d-flex justify-content-center align-items-center" style="width: 30px; height: 30px;">
                    <i class="fas fa-users fs-6"></i>
                </div>
                <div class="ms-2">
                    <p class="mb-1 text-muted small">Toplam Ziyaretçiler</p>
                    <p class="fw-bold text-primary mb-0">{{ total_visitors }}</p>
                </div>
            </div>
            
            <div class="stat-box d-flex align-items-center">
                <div class="icon bg-success text-white rounded-circle d-flex justify-content-center align-items-center" style="width: 30px; height: 30px;">
                    <i class="fas fa-calendar-day fs-6"></i>
                </div>
                <div class="ms-2">
                    <p class="mb-1 text-muted small">Bugünkü Ziyaretçiler</p>
                    <p class="fw-bold text-success mb-0">{{ visitors_today }}</p>
                </div>
            </div>
    
            <div class="stat-box d-flex align-items-center">
                <div class="icon bg-warning text-white rounded-circle d-flex justify-content-center align-items-center" style="width: 30px; height: 30px;">
                    <i class="fas fa-user-clock fs-6"></i>
                </div>
                <div class="ms-2">
                    <p class="mb-1 text-muted small">Son Kayıt</p>
                    <p class="fw-bold text-warning mb-0">{{ last_registration }}</p>
                </div>
            </div>
        </div>
    
        <!-- Aynı satır içinde sarılı arama çubuğu -->
        <!--input type="text" id="searchInput" class="form-control w-25" placeholder="Ziyaretçiyi ara..." onkeyup="filtreTablo()"-->
    </div>

   <!-- Ziyaretçi tablosu -->
    <div class="card shadow blurred-box">
        <div class="card-header bg-gradient text-white">
            <h5 class="fw-bold fs-3">Ziyaretçi Listesi</h5>
        </div> 
        
        <!--yeni uygulama-->
        <a href="{{ url_for('register_visitor') }}" class="btn btn-primary mb-3">➕ Ziyaretçiyi kaydet</a>

        <form method="GET" class="d-flex gap-2 mb-3">
            <input type="date" name="date_filter" class="form-control" placeholder="Tarih Seçin">
                <select name="visitor_type_filter" class="form-control">
                    <option value="">Tüm Ziyaretçiler</option>
                    <option value="Misafir">Misafir</option>
                    <option value="Tedarikçi">Tedarikçi</option>
                    <option value="Aile üyesi">Aile Üyesi</option>
                    <option value="Sakin">Sakin</option>
             </select>
             <button type="submit" class="btn btn-primary">Filtrele</button>
        </form>
        <!---->

        <div class="card-body">
            <table class="table table-hover">
                <thead class="table-primary text-white">
                    <tr>
                        <th>Id</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Telefon</th>
                        <th>Tarih</th>
                        <th>Saat</th>
                        <!-- <th>Diğer Bilgiler</th> -->
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visitor in visitors %}
                    <tr>
                        <td>
                            <span class="visitor-color {% if visitor.visitor_type == 'Misafir' %}bg-dark{% elif visitor.visitor_type == 'Tedarikçi' %}bg-warning{% elif visitor.visitor_type == 'Aile üyesi' %}bg-info{% elif visitor.visitor_type == 'Sakin' %}bg-success{% endif %}">
                            </span>
                            {{ visitor.id }}</td>
                        <td>{{ visitor.name }}</td>
                        <td>{{ visitor.surname }}</td>
                        <td>{{ visitor.phone }}</td>
                        <td>{{ visitor.date }}</td>
                        <td>{{ visitor.time.strftime('%H:%M:%S') }}</td>
                        <!-- <td>{{ visitor.other_data }}</td> -->
                        <td>                
                            <a href="/visitor_info/{{ visitor.id }}" class="btn btn-sm btn-info me-2">Detay</a>
                            <a href="/editvisitor/{{ visitor.id }}" class="btn btn-sm btn-primary me-2">Düzenle</a>
                            <form action="{{ url_for('delete_visitor', id=visitor.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">
                                <button type="submit" class="btn btn-sm btn-danger me-2">Sil</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

